

<!DOCTYPE html>

<html>
    <head>
        <title>JS Snake</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/sheet.css">
    <!-- <link rel="stylesheet" href="css/sheet.css">-->
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    
    </head>
    <body>
    <div class="header"><img src="/static/imgs/snake-header.jpg"></div>
       


     


<div class="inner_body">
       
    <div class="table-div">
        <table class="stats-table">
        <tr class="table-header"> <th >RANK</th> <th >NAME</th> <th >SCORE</th> </tr>
        <tr><td class="rank">1.</td> <td  class="username">{{name1}}</td><td  class="score">{{score1}}</td></tr>
        <tr><td class="rank">2.</td> <td  class="username">{{name2}}</td><td  class="score">{{score2}}</td></tr>
        <tr><td class="rank">3.</td> <td  class="username">{{name3}}</td><td  class="score">{{score3}}</td></tr>
        <tr><td class="rank">4.</td> <td  class="username">{{name4}}</td><td  class="score">{{score4}}</td></tr>
        <tr><td class="rank">5.</td> <td  class="username">{{name5}}</td><td  class="score">{{score5}}</td></tr>
        <tr><td class="rank">6.</td> <td  class="username">{{name6}}</td><td  class="score">{{score6}}</td></tr>
        <tr><td class="rank">7.</td> <td  class="username">{{name7}}</td><td  class="score">{{score7}}</td></tr>
        <tr><td class="rank">8.</td> <td  class="username">{{name8}}</td><td  class="score">{{score8}}</td></tr>
        <tr><td class="rank">9.</td> <td  class="username">{{name9}}</td><td  class="score">{{score9}}</td></tr>
        <tr><td class="rank">10.</td><td  class="username">{{name10}}</td><td  class="score">{{score10}}</td></tr>
        </table>
    </div>

<div id="components" class="components"><p>something</p></div>

</div>

    <!--  
        <script src="js/tabulka.class.js"></script>
        <script src="js/snakeRunner.js"></script>
        <script src="js/js.js"></script>  
        <script src="js/components.js"></script>             
       -->  
        <script src="/static/js/tabulka.class.js"></script>
        <script src="/static/js/snakeRunner.js"></script>
        <script src="/static/js/js.js"></script> 
        <script src="/static/js/components.js"></script> 
              
    </body>
</html>


